{:paths ["src" "resources"]
 :deps {hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        com.draines/postal {:mvn/version "2.0.5"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
