{:tasks
 {:init (defn component-dirs []
          ["components/account"
           "components/billing"
           "components/common"
           "components/food"
           "components/messages"
           "components/password-hash"
           "components/postgres-db"])

 ;; Task to run tests in all components
  test
  (let [dirs (component-dirs)]
    (doseq [dir dirs]
      (shell {:dir dir} "bb test")))

   ;; Task to check formatting in all components
  format:check
  (let [dirs (component-dirs)]
    (doseq [dir dirs]
      (shell {:dir dir} "cljfmt check")))

   ;; Task to fix formatting in all components
  format
  (let [dirs (component-dirs)]
    (doseq [dir dirs]
      (shell {:dir dir} "cljfmt fix")))}}
