{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {poly/account {:local/root "components/account"}
                               poly/food {:local/root "components/food"}
                               poly/datomic-db {:local/root "components/datomic-db"}
                               poly/common {:local/root "components/common"}
                               poly/email {:local/root "components/email"}
                               poly/sms {:local/root "components/sms"}
                               poly/billing {:local/root "components/billing"}
                               poly/password-hash {:local/root "components/password-hash"}
                               poly/authentication {:local/root "components/authentication"}
                               poly/mobile {:local/root "bases/mobile"}
                               poly/server {:local/root "bases/server"}
                               org.clojure/clojure {:mvn/version "1.11.1"}}}
            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}}}}}
