{:paths ["src" "resources"]
 :deps {caja/postgres-db {:local/root "../postgres-db"}
        caja/messages {:local/root "../messages"}
        caja/common {:local/root "../common"}
        caja/password-hash {:local/root "../password-hash"}
        buddy/buddy-sign {:mvn/version "3.6.1-359"}
        com.taoensso/tower {:mvn/version "3.1.0-beta5"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1161"}
        dev.weavejester/ragtime.next-jdbc {:mvn/version "0.9.4"}
        com.datomic/peer {:mvn/version "1.0.7180"}
        ;Data validation
        metosin/malli {:mvn/version "0.16.2"}
        org.babashka/sci {:mvn/version "0.8.42"}
        com.gfredericks/test.chuck {:mvn/version "0.2.14"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
