{:tasks {test   (shell "clj -X:test")
         format:check   (shell "cljfmt check")
         format         (shell "cljfmt fix")
         gather-migrations (shell "clj -M -m petitplat.server.migrate")}}