{:paths ["src" "resources"]
 :deps {}
 :aliases {:server {:extra-deps
                    {account/account {:local/root "../../components/account"}
                     com.taoensso/sente {:mvn/version "1.19.2"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {}}}}
