{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {account.use-cases.register-user-in-db-use-case {execute {:arities {1 {:args [{:op :keys,
                                                                                                                      :req {:name :string,
                                                                                                                            :email :string,
                                                                                                                            :password :string}}],
                                                                                                              :ret :any}}}},
                                        account.interface {register-user-in-db {:arities {1 {:args [{:op :keys,
                                                                                                     :req {:name :string,
                                                                                                           :email :string,
                                                                                                           :password :string}}],
                                                                                             :ret :any}}},
                                                           confirm-user-in-db {:arities {1 {:args [{:op :keys,
                                                                                                    :req {:email :string,
                                                                                                          :token :string}}],
                                                                                            :ret :any}}},
                                                           authenticate-server {:arities {1 {:args [{:op :keys,
                                                                                                     :req {:email :string,
                                                                                                           :password :string}}],
                                                                                             :ret :any}}}}}}}}
