{:paths ["src" "resources"]
 :deps {;Data validation
        metosin/malli {:mvn/version "0.16.2"}
        org.babashka/sci {:mvn/version "0.8.42"}
        com.gfredericks/test.chuck {:mvn/version "0.2.14"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
