{:system-config
 {:components
  {:db {:start (postgres-db.interface/init
                #profile
                 {:dev
                  {:url "jdbc:postgresql://localhost:5437/petitplat_dev" :user "postgres" :password "postgres"}
                  :prod
                  {:url "jdbc:postgresql://localhost:5437/petitplat_dev" :user "postgres" :password "postgres"}})
        :stop (postgres-db.interface/stop)}}}}