{:paths ["src" "resources"]
 :deps {}
 :aliases {:cljs {:extra-deps
                  {account/account {:local/root "../../components/account"}
                   metosin/malli {:mvn/version "0.16.2"}
                   thheller/shadow-cljs {:mvn/version "2.28.12"}
                   re-frame/re-frame {:mvn/version "1.4.3"}
                   com.taoensso/sente {:mvn/version "1.19.2"}
                   cljsjs/react {:mvn/version "18.2.0-1"}
                   reagent/reagent {:mvn/version "1.2.0"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {}}}}
