{:source-paths ["src" "test"]
 :aliases [:cljs]
 :dev-http {3001 "output/test"}
 :builds {:mobile {:target :react-native
                   :init-fn petitplat.mobile.core/start
                   :output-dir "./output"
                   :devtools {:autoload true
                              :console true
                              :preloads [shadow.expo.keep-awake-async]}}

          :browser-test {:target :browser-test
                         :test-dir "output/test"}

          :test {:target :browser-test
                 :test-dir "output/test"
                 :output-to "js/tests.js"
                 :asset-path "out"
                 :autorun true}}}