{:source-paths ["src" "test"]
 :aliases [:cljs]
 :builds {:mobile {:target :react-native
                   :init-fn petitplat.mobile.core/start
                   :output-dir "./output"
                   :devtools {:autoload true
                              :console true
                              :preloads [shadow.expo.keep-awake-async]}}

          :test {:target     :karma
                 :output-to  "output/test.js"
                 :ns-regexp  "-test$"
                 :autorun    true}}}