{:source-paths ["src"]
 :aliases [:cljs]
 :builds {:mobile {:target :react-native
                   :init-fn petitplat.mobile.core/start
                   :output-dir "./output"
                   :devtools {:autoload true
                              :console true
                              :preloads [shadow.expo.keep-awake-async]}}

          :test {:target :node-test
                 :output-to "out/tests.js"
                 :runner :node
                 :asset-path "out"
                 :autorun true}}}